@media only screen and (min-width: 600px) {
    /* index page */
    /* title */
    #top {
        display: flex;
        /* margin: 5px; */
    }
    #mid {
         width: 50%;
    }
    #title {
        /* margin-top: -10%; */
        width: 60%
    }
    #elevator {
        transform: translate(50px, 80px);
        /* position: relative;
        margin-left: -10px; */
    }

    #label {
    flex-direction: row;
    justify-content: center;
    }
     #label p {
    margin: 10px;
    }

        /* Elevator pitch */
    #skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    #skills p {
        margin: 10px;
    }

    /* footer */
    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
    /* end of index */

    /* about me page*/
    #attributes {
        flex-direction: row;
        justify-content: center;
    }
    #interest {
        flex-direction: row;
    }
    /* end of about me page */

    /* Work experience page*/
    /* carousel secton */
    #work-carousel {
        width: 550px;
        height: 400px;
    } 
    .carousel-image {
        height: 40vh;
        /* min-height: 500px; */
        /* height: 800px;
        width: 1500px; */

    }
    #description {
        margin-right: 50px;
    }
    /* end of work experience page */

    /* self development page */
    .self-dev {
        flex-direction: row;
        margin: 50px;
    }
    .des {
    padding: 0;
    }
    /* end of self development */

    /* education */
    
    
}
